<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        h2 {
            font-family: sans-serif;
            font-size: 1.1em;
            text-transform: uppercase;
        }

        strong {
            font-weight: 700;
            font-size: 1.1em;
        }

        p {
            font-family: sans-serif;
            font-size: 1.0em;
        }

        table {
            font-family: sans-serif;
            font-size: 1.0em;
        }

    </style>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table>
    <tr>
        <td><h2>Hello,</h2>
            <strong><p
                    th:text="${#strings.toUpperCase(customer.name)} +' '+ ${#strings.toUpperCase(customer.surname)}"/>
            </strong>
        </td>

    </tr>
    <tr>
        <td>Create Account</td>
    </tr>
</table>
<form action="#" th:action="@{/customer/account/createAccount}" th:object="${customer}" method="post">
    <p><input type="hidden" th:name="customerID" th:value="${#strings.toUpperCase(customer.id)}"/></p>
    <p>Initial credit: $ <input type="number" th:name="initialCredit" th:value="${initialCredit}" min="0" oninput="validity.valid||(value='');"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>