<!DOCTYPE HTML>
<html>
<head>
    <style>
        h2 {
            font-family: sans-serif;
            font-size: 1.1em;
            text-transform: uppercase;
        }

        strong {
            font-weight: 700;
            font-size: 1.1em;
        }

        p {
            font-family: sans-serif;
            font-size: 1.0em;
        }

        table {
            font-family: sans-serif;
            font-size: 1.0em;
        }

    </style>
    <title>Error Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table>
    <tr>
        <td><h2>Not a Valid Input</h2>

        </td>

    </tr>

</table>

</body>
</html>